@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('chrome-extension://__MSG_@@extension_id__/content/fonts/roboto-latin-100-normal.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('chrome-extension://__MSG_@@extension_id__/content/fonts/roboto-latin-300-normal.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('chrome-extension://__MSG_@@extension_id__/content/fonts/roboto-latin-400-normal.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('chrome-extension://__MSG_@@extension_id__/content/fonts/roboto-latin-500-normal.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('chrome-extension://__MSG_@@extension_id__/content/fonts/roboto-latin-700-normal.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('chrome-extension://__MSG_@@extension_id__/content/fonts/roboto-latin-900-normal.woff2') format('woff2');
}

c2pa-popover, c2pa-popover *,
c2pa-manifest-summary, c2pa-manifest-summary *,
c2pa-indicator, c2pa-indicator * {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
